@charset 'utf-8';
/*reset*/
html{
	color:#666666;
	background-color:#ffffff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
}
a{
	text-decoration:none;
}
a:active{
	background-color:transparent;
}
small,cite,code,em,th,i,b{
	font-size:1em;
	font-style:normal;
	font-weight:500;
}
input,select,textarea,button{
	font-size:1em;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
button,input[type=button],input[type=submit]{
	cursor:pointer;
}
button[disabled],input[disabled]{
	cursor:default;
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0 none;
	padding:0;
}
textarea{
	resize:none;
	overflow:auto;
	vertical-align:top;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,iframe{
	border:0 none;
}
img{
	display:inline-block;
	vertical-align:bottom;
	-ms-interpolation-mode:bicubic;
}
iframe{
	display:block;
}
ul,ol{
	list-style:none;
}
li{
	vertical-align:top;
}
q:before,q:after{
	content:'';
}
html, body {
	position: relative;
	height: 100%;
}
.clearfix:after{
  content:".";
  height:0;
  visibility:hidden;
  display:block;
  clear:both;
  font-size:0;
  line-height:0;
}
.clearfix{
  *zoom:1;
}
/*book page flip*/
.cover {
  width: 1400px;
  height: 1000px;
  position: absolute;
  left:50%;
  top: 50px;
  margin-left:-259px;
}
.cover img{
  /*-webkit-transform:matrix(1,0.4,0,1,0,0);*/
  -webkit-transform:skew(0deg,1deg);
  box-shadow:1px -1px 2px 1px #999,2px -2px 2px 1px #999,3px -3px 2px 1px #999,4px -4px 2px 1px #999,5px -5px 2px 1px #999,6px -6px 2px 1px #999,7px -7px 2px 1px #999,8px -8px 2px 1px #999,9px -9px 2px 1px #999,10px -10px 2px 1px #272822;
}
._ebook {
  width: 1400px;
  height: 1000px;
  position: relative;
  margin: 40px auto 0;
  overflow: hidden;
}
._ebook > input {
  position: absolute;
  left: -9999px;
}
._book {
  width: 1400px;
  height: 1020px;
  position: relative;
  z-index: 100;
  background: transparent;
  overflow: hidden;
  font-family: georgia, serif;
}
._rp {
  width: 1070px;
  height: 1200px;
  position: absolute;
  right: 362px;
  top: 65px;
  background: transparent;
  overflow: hidden;
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(-20.6deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._rpi {
  width: 700px;
  height: 1000px;
  position: absolute;
  right: -338px;
  top: 197px;
  background: #eee;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 100%);
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(20.6deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._lp {
  width: 1070px;
  height: 0px;
  position: absolute;
  right: 700px;
  top: 0px;
  background: transparent;
  overflow: hidden;
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(-20.6deg);
  -webkit-transition: -webkit-transform 1s, height 0s 1s;
  -webkit-transform-style: preserve-3d;
}
._lpi {
  width: 700px;
  height: 1000px;
  position: absolute;
  right: 0px;
  top: 65px;
  background: #eee;
  overflow: hidden;
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(-21.2deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._book .p0 {
  z-index: 99;
}
._book .p1 {
  z-index: 99;
}
._book .p2 {
  z-index: 100;
}
._book .p3 {
  z-index: 98;
}
._book .p4 {
  z-index: 101;
}
._book .p5 {
  z-index: 97;
}
._book .p6 {
  z-index: 102;
}
._book .p7 {
  z-index: 96;
}
._book .p8 {
  z-index: 103;
}
._book .p9 {
  z-index: 95;
}
._book .p10 {
  z-index: 104;
}
._book .p11 {
  z-index: 94;
}
._book .p12 {
  z-index: 105;
}
._book .p13 {
  z-index: 93;
}
._book .p14 {
  z-index: 106;
}
._book .p15 {
  z-index: 92;
}
._book .p16 {
  z-index: 107;
}
._book .p17 {
  z-index: 91;
}
._book .p18 {
  z-index: 108;
}
._book .p19 {
  z-index: 90;
}
._book .p20 {
  z-index: 109;
}
._book .p21 {
  z-index: 89;
}
._book .p22 {
  z-index: 110;
}
._book .p23 {
  z-index: 88;
}
#p1:checked ~ ._book .p1,
#p2:checked ~ ._book .p3,
#p3:checked ~ ._book .p5,
#p4:checked ~ ._book .p7,
#p5:checked ~ ._book .p9,
#p6:checked ~ ._book .p11,
#p7:checked ~ ._book .p13,
#p8:checked ~ ._book .p15,
#p9:checked ~ ._book .p17,
#p10:checked ~ ._book .p19,
#p11:checked ~ ._book .p21 {
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
#p1:checked ~ ._book .p1 ._rpi,
#p2:checked ~ ._book .p3 ._rpi,
#p3:checked ~ ._book .p5 ._rpi,
#p4:checked ~ ._book .p7 ._rpi,
#p5:checked ~ ._book .p9 ._rpi,
#p6:checked ~ ._book .p11 ._rpi,
#p7:checked ~ ._book .p13 ._rpi,
#p8:checked ~ ._book .p15 ._rpi,
#p9:checked ~ ._book .p17 ._rpi,
#p10:checked ~ ._book .p19 ._rpi,
#p11:checked ~ ._book .p21 ._rpi {
  right: -350px;
  top: -75px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book .p0,
#p1:checked ~ ._book .p2,
#p2:checked ~ ._book .p4,
#p3:checked ~ ._book .p6,
#p4:checked ~ ._book .p8,
#p5:checked ~ ._book .p10,
#p6:checked ~ ._book .p12,
#p7:checked ~ ._book .p14,
#p8:checked ~ ._book .p16,
#p9:checked ~ ._book .p18,
#p10:checked ~ ._book .p20,
#p11:checked ~ ._book .p22 {
  height: 1020px;
  -webkit-transition: -webkit-transform 1s, height 0s 0s;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book .p0 ._lpi,
#p1:checked ~ ._book .p2 ._lpi,
#p2:checked ~ ._book .p4 ._lpi,
#p3:checked ~ ._book .p6 ._lpi,
#p4:checked ~ ._book .p8 ._lpi,
#p5:checked ~ ._book .p10 ._lpi,
#p6:checked ~ ._book .p12 ._lpi,
#p7:checked ~ ._book .p14 ._lpi,
#p8:checked ~ ._book .p16 ._lpi,
#p9:checked ~ ._book .p18 ._lpi,
#p10:checked ~ ._book .p20 ._lpi,
#p11:checked ~ ._book .p22 ._lpi {
  top: 0px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book ._lpi b {
  display: block;
  width: 200px;
  height: 1100px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-transform-origin: 50px -900px;
  -webkit-transform: rotate(21.2deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._book .p0 ._lpi b,
#p1:checked ~ ._book .p2 ._lpi b,
#p2:checked ~ ._book .p4 ._lpi b,
#p3:checked ~ ._book .p6 ._lpi b,
#p4:checked ~ ._book .p8 ._lpi b,
#p5:checked ~ ._book .p10 ._lpi b,
#p6:checked ~ ._book .p12 ._lpi b,
#p7:checked ~ ._book .p14 ._lpi b,
#p8:checked ~ ._book .p16 ._lpi b,
#p9:checked ~ ._book .p18 ._lpi b,
#p10:checked ~ ._book .p20 ._lpi b,
#p11:checked ~ ._book .p22 ._lpi b {
  top: 0px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book ._book_cont {
  width: 680px;
  height: 980px;
  display: block;
}
._book ._book_cont p{
  padding: 3px 0 0 12px;
  font-size: 14px;
}
._book label {
  display: none;
  width: 80px;
  height: 1000px;
  position: absolute;
  top: 0;
  cursor: pointer;
}
._book ._rpi:hover label {
  display: block;
}
._book ._lpi:hover label {
  display: block;
}
._book ._rpi label {
  right: -1px;
}
._book ._lpi label {
  left: 0;
}
/*内容区样式*/
.grandient-background{
  background: -webkit-repeating-linear-gradient(-45deg,transparent,transparent 5px,#B7C0BE 5px,#B7C0BE 6px,transparent 6px), -webkit-repeating-linear-gradient(45deg,transparent,transparent 5px,#B7C0BE 5px,#B7C0BE 6px,transparent 6px);
  background-size: 8px 8px;
}
.content{padding: 10px 10px 10px 30px;font-family: Arial,"microsoft yahei";}
.content h2{font-size: 36px;color: #000;}
.content li{margin-top:10px;border-radius: 6px;padding:20px 10px;overflow:hidden;color: #666;font-size: 20px;}
.content li .tit{float: left;}
.content li .author{float: right;font-size: 14px;color: #999}
.content li:hover{text-decoration: none;background: #D5D5D5;color: #fff;text-shadow:1px 1px 0px #000;}
.content li:hover .author{color: #fff}