@charset 'utf-8';
.catalog{width: 680px;height: 980px;font-family: Arial,"microsoft yahei";background: url(../img/catalog_bg.jpg) no-repeat 0 0;}
.catalog h1{height: 0;width: 0;overflow: hidden;line-height: 9999px;}
.catalog .catalog_items{margin-top:130px;width:280px;text-align:right; font-size: 23px;color: #fff;}
.catalog .catalog_items .num em{display: inline-block; width: 30px;height: 26px;line-height:26px;text-align:center;background-color: #7A0807;}
.catalog .catalog_items .tit{
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
.catalog .catalog_items .tit:hover{cursor: pointer;margin-right: 6px;}