@charset 'utf-8';
/*reset*/
html{
	color:#666666;
	background-color:#ffffff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
}
a{
	text-decoration:none;
}
a:active{
	background-color:transparent;
}
small,cite,code,em,th,i,b{
	font-size:1em;
	font-style:normal;
	font-weight:500;
}
input,select,textarea,button{
	font-size:1em;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
button,input[type=button],input[type=submit]{
	cursor:pointer;
}
button[disabled],input[disabled]{
	cursor:default;
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0 none;
	padding:0;
}
textarea{
	resize:none;
	overflow:auto;
	vertical-align:top;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,iframe{
	border:0 none;
}
img{
	display:inline-block;
	vertical-align:bottom;
	-ms-interpolation-mode:bicubic;
}
iframe{
	display:block;
}
ul,ol{
	list-style:none;
}
li{
	vertical-align:top;
}
q:before,q:after{
	content:'';
}
html, body {
	position: relative;
	height: 100%;
}
.clearfix:after{
  content:".";
  height:0;
  visibility:hidden;
  display:block;
  clear:both;
  font-size:0;
  line-height:0;
}
.clearfix{
  *zoom:1;
}
/*book page flip*/
.cover {
  width: 1400px;
  height: 1000px;
  position: absolute;
  left:50%;
  top: 50px;
  margin-left:-259px;
}
.cover img{
  /*-webkit-transform:matrix(1,0.4,0,1,0,0);*/
  -webkit-transform:skew(0deg,1deg);
  box-shadow:1px -1px 2px 1px #999,2px -2px 2px 1px #999,3px -3px 2px 1px #999,4px -4px 2px 1px #999,5px -5px 2px 1px #999,6px -6px 2px 1px #999,7px -7px 2px 1px #999,8px -8px 2px 1px #999,9px -9px 2px 1px #999,10px -10px 2px 1px #272822;
}
._ebook {
  width: 1400px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
._ebook > input {
  position: absolute;
  left: -9999px;
}
._book {
  width: 1400px;
  height: 1020px;
  position: relative;
  z-index: 100;
  background: transparent;
  overflow: hidden;
  font-family: georgia, serif;
}
._rp {
  width: 1070px;
  height: 1200px;
  position: absolute;
  right: 362px;
  top: 65px;
  background: transparent;
  overflow: hidden;
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(-20.6deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._rpi {
  width: 700px;
  height: 1000px;
  position: absolute;
  right: -338px;
  top: 197px;
  background: #eee;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 100%);
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(20.6deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._lp {
  width: 1070px;
  height: 0px;
  position: absolute;
  right: 700px;
  top: 0px;
  background: transparent;
  overflow: hidden;
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(-20.6deg);
  -webkit-transition: -webkit-transform 1s, height 0s 1s;
  -webkit-transform-style: preserve-3d;
}
._lpi {
  width: 700px;
  height: 1000px;
  position: absolute;
  right: 0px;
  top: 65px;
  background: #eee;
  overflow: hidden;
  -webkit-transform-origin: 350px -900px;
  -webkit-transform: rotate(-21.2deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._book .p0 {
  z-index: 99;
}
._book .p1 {
  z-index: 99;
}
._book .p2 {
  z-index: 100;
}
._book .p3 {
  z-index: 98;
}
._book .p4 {
  z-index: 101;
}
._book .p5 {
  z-index: 97;
}
._book .p6 {
  z-index: 102;
}
._book .p7 {
  z-index: 96;
}
._book .p8 {
  z-index: 103;
}
._book .p9 {
  z-index: 95;
}
._book .p10 {
  z-index: 104;
}
._book .p11 {
  z-index: 94;
}
._book .p12 {
  z-index: 105;
}
._book .p13 {
  z-index: 93;
}
._book .p14 {
  z-index: 106;
}
._book .p15 {
  z-index: 92;
}
._book .p16 {
  z-index: 107;
}
._book .p17 {
  z-index: 91;
}
._book .p18 {
  z-index: 108;
}
._book .p19 {
  z-index: 90;
}
._book .p20 {
  z-index: 109;
}
._book .p21 {
  z-index: 89;
}
._book .p22 {
  z-index: 110;
}
._book .p23 {
  z-index: 88;
}
#p1:checked ~ ._book .p1,
#p2:checked ~ ._book .p3,
#p3:checked ~ ._book .p5,
#p4:checked ~ ._book .p7,
#p5:checked ~ ._book .p9,
#p6:checked ~ ._book .p11,
#p7:checked ~ ._book .p13,
#p8:checked ~ ._book .p15,
#p9:checked ~ ._book .p17,
#p10:checked ~ ._book .p19,
#p11:checked ~ ._book .p21 {
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
#p1:checked ~ ._book .p1 ._rpi,
#p2:checked ~ ._book .p3 ._rpi,
#p3:checked ~ ._book .p5 ._rpi,
#p4:checked ~ ._book .p7 ._rpi,
#p5:checked ~ ._book .p9 ._rpi,
#p6:checked ~ ._book .p11 ._rpi,
#p7:checked ~ ._book .p13 ._rpi,
#p8:checked ~ ._book .p15 ._rpi,
#p9:checked ~ ._book .p17 ._rpi,
#p10:checked ~ ._book .p19 ._rpi,
#p11:checked ~ ._book .p21 ._rpi {
  right: -350px;
  top: -75px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book .p0,
#p1:checked ~ ._book .p2,
#p2:checked ~ ._book .p4,
#p3:checked ~ ._book .p6,
#p4:checked ~ ._book .p8,
#p5:checked ~ ._book .p10,
#p6:checked ~ ._book .p12,
#p7:checked ~ ._book .p14,
#p8:checked ~ ._book .p16,
#p9:checked ~ ._book .p18,
#p10:checked ~ ._book .p20,
#p11:checked ~ ._book .p22 {
  height: 1020px;
  -webkit-transition: -webkit-transform 1s, height 0s 0s;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book .p0 ._lpi,
#p1:checked ~ ._book .p2 ._lpi,
#p2:checked ~ ._book .p4 ._lpi,
#p3:checked ~ ._book .p6 ._lpi,
#p4:checked ~ ._book .p8 ._lpi,
#p5:checked ~ ._book .p10 ._lpi,
#p6:checked ~ ._book .p12 ._lpi,
#p7:checked ~ ._book .p14 ._lpi,
#p8:checked ~ ._book .p16 ._lpi,
#p9:checked ~ ._book .p18 ._lpi,
#p10:checked ~ ._book .p20 ._lpi,
#p11:checked ~ ._book .p22 ._lpi {
  top: 0px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book ._lpi b {
  display: block;
  width: 200px;
  height: 1100px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-transform-origin: 50px -900px;
  -webkit-transform: rotate(21.2deg);
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
}
._book .p0 ._lpi b,
#p1:checked ~ ._book .p2 ._lpi b,
#p2:checked ~ ._book .p4 ._lpi b,
#p3:checked ~ ._book .p6 ._lpi b,
#p4:checked ~ ._book .p8 ._lpi b,
#p5:checked ~ ._book .p10 ._lpi b,
#p6:checked ~ ._book .p12 ._lpi b,
#p7:checked ~ ._book .p14 ._lpi b,
#p8:checked ~ ._book .p16 ._lpi b,
#p9:checked ~ ._book .p18 ._lpi b,
#p10:checked ~ ._book .p20 ._lpi b,
#p11:checked ~ ._book .p22 ._lpi b {
  top: 0px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-style: preserve-3d;
}
._book ._book_cont {
  width: 680px;
  height: 980px;
  display: block;
}
._book ._book_cont p{
  padding: 3px 0 0 12px;
  font-size: 14px;
}
._book label {
  display: none;
  width: 80px;
  height: 1000px;
  position: absolute;
  top: 0;
  cursor: pointer;
}
._book ._rpi:hover label {
  display: block;
}
._book ._lpi:hover label {
  display: block;
}
._book ._rpi label {
  right: -1px;
}
._book ._lpi label {
  left: 0;
}
/*文章公共样式*/
.magazine_pages{position: relative; width: 681px;height: 882px;background-color: #033649;font-family: 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei', sans-serif;}
.magazine_pages h1{position: absolute;top: 20px;left:18px;width:681px; font-size: 48px; color: #fff;font-weight: normal;}
.magazine_pages .magazine_content{width:100%;height:100%; background-color: #fff;}
  /*左页样式*/
.magazine_pages_l{ padding: 100px 1px 18px 18px;}
.magazine_pages_l h1{left:18px;text-align: left;}
  /*右页样式*/
.magazine_pages_r{padding: 100px 18px 18px 1px;}
.magazine_pages_r h1{left: auto; right:18px;text-align: right;}
  /*exercises_l*/
.exercises_l h2{
  padding: 90px 0;
  font-size: 28px;
  font-weight: normal;
  color: #333;
  text-align: center;
}
.exercises_l .mike {
        position: relative;
        display: block;
        width: 220px;
        height: 370px;
        margin: 0 auto;
        background: #000;
        border-radius: 300px;
}
.exercises_l .mike:before, .mike:after {
        position: absolute;
        content: '';
}
.exercises_l .mike:before {
        width: 60px;
        height: 120px;
        background: #000;
        left: 80px;
        bottom: -180px;
}
.exercises_l .mike:after {
        bottom: 0;
        left: 0;
        width: 300px;
        height: 160px;
        overflow: hidden;
        border: 40px solid #000;
        border-top: 0 none;
        border-radius: 0 0 280px 280px;
        bottom: -80px;
        left: -80px;
}
/*catalog 样式 [[*/
.catalog{width: 700px;height: 1000px;font-family: Arial,"microsoft yahei";background: url(../img/catalog_bg.jpg) no-repeat 0 0;}
.catalog h1{height: 0;width: 0;overflow: hidden;line-height: 9999px;}
.catalog .catalog_items{margin-top:130px;width:280px;text-align:right; font-size: 23px;color: #fff;}
.catalog .catalog_items .num em{display: inline-block; width: 30px;height: 26px;line-height:26px;text-align:center;background-color: #7A0807;}
.catalog .catalog_items .tit{
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
.catalog .catalog_items .tit:hover{cursor: pointer;margin-right: 6px;}
/*catalog 样式 ]]*/
/*about-us 样式 [[*/
.about-us{position: relative; width: 700px;height: 1000px;overflow:hidden;font-family: "张海山锐线体简";color: #000;}
.icon-footprints{position: absolute;top: 80px;left: 45px; width: 22px;height: 22px;overflow: hidden;background: url(../img/icon-footprints.png) no-repeat;-webkit-transform:rotate(-7deg);}
.footprints1{top: 65px;left: 110px; -webkit-transform:rotate(-7deg);}
.footprints2{top: 50px;left: 200px; -webkit-transform:rotate(-7deg);}
.footprints3{top: 50px;left: 330px; -webkit-transform:rotate(-7deg);}
.footprints4{top: 50px;left: 460px; -webkit-transform:rotate(-7deg);}
.footprints5{top: 60px;left: 560px; -webkit-transform:rotate(-7deg);}
.footprints6{top: 80px;left: 640px; -webkit-transform:rotate(-7deg);}
/*定义动画*/
.icon-footprints{-webkit-animation:y-footprints 1.4s infinite linear;}
.footprints1{-webkit-animation:y-footprints 1.4s 0.2s infinite linear;}
.footprints2{-webkit-animation:y-footprints 1.4s 0.4s infinite linear;}
.footprints3{-webkit-animation:y-footprints 1.4s 0.6s infinite linear;}
.footprints4{-webkit-animation:y-footprints 1.4s 0.8s infinite linear;}
.footprints5{-webkit-animation:y-footprints 1.4s 1.0s infinite linear;}
.footprints6{-webkit-animation:y-footprints 1.4s 1.2s infinite linear;}
/*调用动画*/
@-webkit-keyframes y-footprints{
  0%{
    -webkit-transform:translate(8px);
  }
  14%{
    -webkit-transform:translate(0,-5px);
  }
} 
.about-us h1{margin-top:90px;font-size: 50px;font-weight: bold; text-align: center;}
.about-us .logo{margin: 50px 0 ;text-align: center;}
.about-us .member{margin-top: 80px;}
.about-us .member li{float: left;margin:0 19px;width: 101px;text-align: center;}
.about-us .member .photo{width: 101px;height: 101px;border-radius: 50%;font-size: 60px;-webkit-box-reflect: below 3px -webkit-gradient(linear, 0% 70%, 0% 100%, from(transparent),color-stop(0.7,rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 1)));}
.about-us .member .photo img{height: 101px;vertical-align: middle;border-radius: 50%;box-shadow: 0 0 10px rgba(0,0,0,0.3)}
.about-us .member .photo:hover img{-webkit-transform:scale(1.1,1.1);cursor: pointer;-webkit-transform-origin:center bottom;}
.about-us .member .name{margin-bottom:15px;font-size: 18px;font-weight: bold;}
.about-us .signature{margin-top: 100px;text-align: center;font-size: 31px;font-weight: bold;color: #080808;}
.about-us .footer{position: absolute;bottom: 0;left: 0;width: 100%;height: 50px;line-height:40px;border-top: 1px solid #666666;font-size: 25px;font-weight: bold;}
.about-us .footer .team{float: left;margin-left: 5px}
.about-us .footer .squad{float: right;margin-right: 5px;}
/*about-us 样式 ]]*/
/*pseudo_classes_L 样式 [[*/
.bobb article{
  width: 700px;
  height: 1000px;
  overflow: hidden;
  border-left: 18px solid #033649;
  padding: 0 15px 15px;
}

.bobb .article_pseudo section{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.bobb .article_pseudo p{
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Microsoft JhengHei UI';
  margin-bottom: 20px;
}

.bobb .article_pseudo ol li{
  margin-bottom: 10px;
  font-family: 'Microsoft JhengHei UI';
}

.bobb .article_pseudo h2{
  background-color: #033649;
  color: #fff;
  height: 100px;
  line-height: 100px;
  font-size: 38px;
  margin: 0 0 15px -15px;
}

.bobb .arrow_down{
  position: relative;
  display: inline-block;
  height: 20px;
  width: 12px;
  background-color: #c3c3c3;
  left: 13px;
}
.bobb .arrow_down::after {
  display: block;
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 18px 19px 0 19px;
  border-color: #C3C3C3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  bottom: -18px;
  left:-13px;
}
/*pseudo_classes_L 样式 ]]*/
