body,p,h1{
	margin:0;
	padding:0;
}
.main{
	width:700px;
	background:#033649;
	padding-bottom:20px;
}
.main_inner{
	width:680px;
	font-family: "张海山锐线体简";
	font-size: 24px;
	padding-top:20px;
	line-height: 1.5em;
	margin-left: 20px;
}
h1{
	height: 90px;
	line-height: 90px;
	font-size: 48px;
	color:#fff;
	float:left;
	margin-left: 20px;
	font-family: microsoft yahei;
	font-weight: normal;
}
.clearfix{*zoom: 1; }
.clearfix:before,.clearfix:after{ display: table; content: ""; line-height: 0;}
.clearfix:after{ clear: both; };
